<div class="formAdd">
    <form autocomplete="off" #myform="ngForm">
        <label>From Account:</label>
       <input type="number"><br>
       <label>Beneficiary Account:</label>
       <input type="number"><br>
       <label>Account Type:</label>
       <input type="radio" placeholder="Select"><br>
       <label>Amount:</label>
       <input type="number" ><br>
       <label>Remarks:</label>
       <input type="text" ><br>
       
       <input type="button" value="Submit"><br>
    </form>
</div>